@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');
.header{
    font-family: 'Quicksand', sans-serif;
    padding-left: .5rem;
    background-color: rgb(17, 155, 219);
    height: 2rem;
    display: flex;
    align-items: center;
    color: white;
    font-size: 1.2rem;

}